<div id="app" [class.full-page]="isLoginPage">
  <!-- Conditional rendering of navbar -->
  <nav
    class="navbar navbar-expand navbar-dark"
    *ngIf="!isLoginPage"
    [ngStyle]="{ 'background': 'linear-gradient(to bottom right, #00695c, #004d40)' }"
  >
    <a href="#" class="navbar-brand">My Cupid Tech</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/user" class="nav-link" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="#" class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <!-- Main Content -->
  <router-outlet></router-outlet>
</div>
